.div #bannerTop {
    float: top;
    width: 100%;
    height: 10%;
    background-image: url(.../images/cal_space.jpg);
    background-repeat: no-repeat;
}

.div #userPortrait {
    float: top, center;
    border-radius: 50%;
    width: 5%;
    height: 5%;
}
